.elevation-3 {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
}

.pa-0 {
    padding: 0 !important;
}

.pa-1 {
    padding: 0.4rem !important;
}

.pa-2 {
    padding: 0.8rem !important;
}

.pa-3 {
    padding: 1rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pa-4 {
    padding: 1.2rem !important;
}

.pa-5 {
    padding: 1.6rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.flex_spacer {
    flex: 1;
}

.font_title {
    font-size: 1.4rem;
}

.font_subheading {
    font-size: 1.1rem;
}

.font_caption {
    font-size: 0.8rem;
}

.grey--text {
    color: #757575 !important;
    caret-color: #757575 !important;
}

.transparent--background {
    background-color: transparent;
}

.accent--text {
    color: #faba15 !important;
    caret-color: #faba15 !important;
}

.d-flex {
    display: flex;
}