.rp_category_card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-height: 15rem;
    height: 24vh;
    border-radius: 0.4rem;
    flex: 1 0;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}

.rp_category_card.tall {
    min-height: calc(22.5rem + 2px);
    height: calc(37.5vh + 2px);
}

.rp_category_card h2 {
    color: rgb(51, 51, 51);
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    width: calc(100% - 2.4rem);
    z-index: 1;
}

.rp_category_card:hover h2 {
    color: #fff;
}

.rp_category_card h2:after {
    content: '';
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -.55rem;
    height: .2rem;
    width: 90%;
    z-index: 1;
    width: 0%;
    overflow: hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.rp_category_card:hover img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rp_category_card:hover h2:after {
    width: 90%;
}

.rp_category_card:hover .rp_category_card--hover {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity: 1;
}

.rp_category_card .rp_category_card--hover {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding-top: 22%;
}

.rp_category_card.wide .rp_category_card--hover {
    padding-top: 12%;
}

.rp_category_card:hover .rp_category_card--hover .rp_btn {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    margin-bottom: .4rem;
    margin-right: .4rem;
}

.rp_category_card .rp_category_card--hover .rp_btn {
    transform: translateX(33vw);
    -webkit-transform: translateX(33vw);
}

.rp_category_card:hover .rp_category_card--hover .rp_btn:nth-of-type(2) {
    transition-delay: .1s;
}

.rp_category_card:hover .rp_category_card--hover .rp_btn:nth-of-type(3) {
    transition-delay: .2s;
}

.rp_category_card:hover .rp_category_card--hover .rp_btn:nth-of-type(4) {
    transition-delay: .3s;
}

.rp_category_card:hover .rp_category_card--hover .rp_btn:nth-of-type(5) {
    transition-delay: .4s;
}

.rp_category_card:hover .rp_category_card--hover .rp_btn:nth-of-type(6) {
    transition-delay: .5s;
}

.rp_category_card .rp_btn:hover:before {
    background-color: #faba15;
}

.rp_category_card .rp_btn:active:before {
    opacity: .3;
    background-color: #faba15;
}

.video_container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: calc(22.4rem + 4px);
    height: calc(37.5vh + 2px);
    overflow: hidden;
}

.video_container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 0.4rem;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}