.rp_product_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    width: 16.5rem;
    max-height: 55vh;
    min-height: 24rem;
    padding: 2.3rem;
    line-height: 1.5;
    align-items: center;
}

.rp_product_card--reveal {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    background-color: #fff;
    border-color: #fff;
    border-radius: 1rem;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0);
    transition: all 200ms ease-in;
    transform: scale(0);
}

.rp_product_card {
    display: block;
    position: relative;
    border-radius: .25rem;
    color: rgba(0, 0, 0, .87);
    min-width: 11rem;
    text-decoration: none;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.rp_product_card--media img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 5rem;
}

.rp_product_box:hover .rp_product_card--reveal {
    background: #ffdf62;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease-in;
    -webkit-transform: scale(1);
    -webkit-transition: all 300ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    -moz-transform: scale(1);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
}

.rp_product_box:hover .rp_product_card--media img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: all 150ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1);
    transition: all 150ms ease-in;
    transition-delay: 200ms;
}

.rp_product_box .hover_menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.rp_product_box .hover_menu .rp_btn {
    opacity: 0;
    width: 9rem;
    transform: translateX(-12rem);
    -webkit-transform: translateX(-12rem);
    transition-delay: 0;
    border-radius: 12px;
}

.rp_product_box:hover .hover_menu .rp_btn {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.rp_product_box .rp_btn.add_card_button {
    top: 4rem;
    background-color: #FF5722;
    color: #fff;
    transition-delay: 0;
}

.rp_product_box .rp_btn.buy_now_button {
    top: 5rem;
    background-color: #fff;
    border: 1px solid #FF5722;
    color: rgba(87, 90, 93, 255);
    transition-delay: 0;
}

.rp_product_box:hover .rp_btn.add_card_button {
    transition-delay: .25s;
}

.rp_product_box:hover .rp_btn.buy_now_button {
    transition-delay: .45s;
}

.rp_product_card--media {
    max-height: 12rem;
    max-width: 12rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rp_product_card--media img {
    min-height: 15rem;
    max-height: 20vh;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -webkit-transition: all 300ms ease-out;
    -ms-transform: scale(0.85);
    -moz-transition: all 300ms ease-out;
    -moz-transform: scale(0.85);
    transition: all 300ms ease-out;
}

.rp_product_card--media.wide img {
    min-height: 12rem;
    max-height: 15vh;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -webkit-transition: all 300ms ease-out;
    -ms-transform: scale(0.85);
    -moz-transition: all 300ms ease-out;
    -moz-transform: scale(0.85);
    transition: all 300ms ease-out;
}