html,
body {
    font-family: Microsoft YaHei, 黑体, 宋体, sans-serif !important;
    color: rgba(0, 0, 0, .87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* overflow: hidden; */
}

.inner_body {
    /* background-color: #fcf1ef; */
    background-color: #fff;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.rp_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: inherit;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding: 1.5rem;
    height: 8rem;
    transition: box-shadow .2s cubic-bezier(.25, .8, .5, 1), height .4s cubic-bezier(.25, .8, .5, 1) .1s;
}

.rp_logo {
    height: 4.5rem;
}

.rp_logo img {
    height: 100%;
}

.rp_header~.inner_body2 {
    padding-top: 7.5rem;
    padding-bottom: 4rem;
    overflow-y: auto;
}

.rp_header~.inner_body {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
    overflow-y: auto;
}

.rp_header.active {
    z-index: 4;
    height: 12rem;
    background-color: #fff;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(0.17, 0.04, 0.03, 0.94) .25s, height .2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.rp_header.active .rp_category_box {
    opacity: 1;
    transition-delay: .1s;
    top: 9rem;
}

.rp_category_box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 960px;
    align-items: center;
    position: absolute;
    top: 0rem;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.rp_category_box .rp_btn {
    background: transparent;
    color: #b0a098;
}

.rp_category_box .rp_btn.image_btn {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.rp_header.active .rp_category_box .rp_btn.image_btn {
    pointer-events: initial;
}

.rp_category_box .rp_btn.image_btn .image_holder:before,
.rp_category_box .rp_btn.image_btn .image_holder:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: .2rem solid transparent;
    will-change: transform;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition-delay: .3s;
}

.rp_category_box .rp_btn.image_btn .image_holder:before {
    border-color: #faba15 transparent;
    -webkit-transform: skew(-81deg, 0);
    transform: skew(-81deg, 0);
}

.rp_category_box .rp_btn.image_btn .image_holder:after {
    border-color: transparent #faba15;
    -webkit-transform: skew(0, 40deg);
    transform: skew(0, 40deg);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.rp_category_box .rp_btn.image_btn:hover .image_holder {
    color: #faba15;
    opacity: 1;
}

.rp_category_box .rp_btn.image_btn:hover .image_holder:before,
.rp_category_box .rp_btn.image_btn:hover .image_holder:after {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
}

.rp_category_box .rp_btn.image_btn .image_holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(-2.5rem);
    transition: 0.25s ease-in-out;
    opacity: 0;
}

.rp_category_box .rp_btn.image_btn:hover .image_holder {
    transform: translateY(0);
}

.rp_category_box .rp_btn.image_btn .image_holder img {
    height: 1.6rem;
}

.rp_category_box .rp_btn.active {
    background: #ffdf62;
    color: #fff;
    border-radius: 6px;
}

.rp_panda_logo {
    position: absolute;
    width: 3.5rem;
    height: 3.8rem;
    background-image: url("../img/base/panda.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 2.8rem 1.4rem;
    padding-right: 4px;
    top: 6rem;
}

.rp_panda_logo:hover {
    background-image: url("../img/base/panda.gif");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 3rem 2.4rem;
}

.rp_content_title {
    display: flex;
    vertical-align: center;
    padding: 1rem;
}

.rp_content_title strong {
    font-weight: 700;
}

.rp_toolbox {
    /* display: flex; */
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 12px;
    background-color: #fff;
    padding: 0 1rem;
    /* flex-wrap: wrap; */
}

.rp_toolbox .filter_box {
    position: relative;
    padding: 0;
}

.rp_toolbox .filter_box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, .4);
    z-index: 1;
}

.rp_toolbox .filter_box:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, .4);
    z-index: 2;
}

.rp_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 3.5rem;
    max-height: 3.5rem;
    background-color: rgb(248, 248, 248);
    color: #9e9e9e;
    padding: 0.4rem;
    z-index: 4;
}

.rp_footer .copy_right {
    max-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rp_footer .partner {
    max-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rp_divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border-style: solid;
    border-width: thin 0 0;
    transition: inherit;
    border-color: rgba(0, 0, 0, .12);
}

.rp_divider.vertical {
    align-self: stretch;
    border-style: solid;
    border-width: 0 thin 0 0;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0;
    width: 0;
    vertical-align: text-bottom;
}

.rp_card {
    display: block;
    background-color: #fff;
    border-color: #fff;
    border-radius: 8px;
    color: rgba(0, 0, 0, .87);
    min-width: 0;
    position: relative;
    text-decoration: none;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.rp_card.flat {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.rp_card.round {
    border-radius: 12px;
}

.rp_card--media {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 0 auto;
    transition: all 0.2s ease-in-out 0.05s;
}

.rp_card--content {
    padding: 1rem;
}

.rp_content_box {
    flex: 1 1 100%;
    padding: 24px;
    width: 100%;
}

/* to do */

.overflow_x_container {
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
    position: relative;
}

/* .overflow_x_container:before {
    content: '';
    top: 0;
    bottom: 0;
    width: 3rem;
    filter: blur(2px);
} */

/* todo fix later */

.overflow_x_container:before {
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    top: 0;
    bottom: 0;
    left: 0rem;
    box-shadow: inset 6rem 0 3rem -2rem #fff;
    z-index: 2;
}

.overflow_x_container:after {
    content: "";
    position: absolute;
    display: block;
    width: 7rem;
    top: 0;
    bottom: 0;
    right: 0rem;
    box-shadow: inset -6rem 0 3rem -2rem #fff;
    z-index: 2;
}

.overflow_x_container .slider {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.overflow_x_container .btn_left,
.overflow_x_container .btn_right {
    position: absolute;
    top: 0;
    z-index: 3;
    font-size: 3rem;
    height: 100%;
    max-height: 100%;
    color: #757575;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: .35s cubic-bezier(0.25, 0.8, 0.5, 1);
    z-index: 7;
}

.overlay:before {
    background-color: #fff;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    transition-delay: .2s;
    width: 100%;
}

.overlay.active {
    pointer-events: auto;
    touch-action: none;
}

.overlay.active:before {
    opacity: 0.65;
    transition-delay: 150ms;
}

/* .overlay.active:after {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
} */

.overlay.active~.rp_header {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.overlay.active~.inner_body {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.overlay.active~.inner_body2 {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.overlay.active~.rp_footer {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.rp_btn {
    /* -webkit-appearance: button; */
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    min-height: 1.8rem;
    max-height: 2.2rem;
    flex: 0 0 auto;
    font-weight: 500;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .25rem .75rem;
    font-size: 1rem;
    box-shadow: none;
    background-color: transparent;
    color: inherit;
    min-width: 4rem;
    border-width: 0;
    transition: .3s cubic-bezier(.25, .8, .5, 1), color 1ms;
}

.rp_btn:before {
    border-radius: inherit;
    color: inherit;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: .12;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%;
}

.rp_btn:hover:before {
    background-color: currentColor;
}

.rp_btn:active:before {
    opacity: .3;
    background-color: currentColor;
}

.rp_btn.flat {
    color: #0e1317 !important;
    caret-color: transparent !important;
    border-color: transparent !important;
}

.rp_btn--icon {
    border-radius: 50%;
    min-width: 2rem;
    width: 2rem;
    padding: 0;
}

.rp_btn.round {
    border-radius: .8rem;
}

.rp_btn--icon .fas {
    font-size: 1rem;
}

.rp_btn--icon.large .fas {
    font-size: 1.4rem;
}

.rp_btn.outline {
    background-color: transparent !important;
    border: 2px solid;
}

.rp_btn.outline.large {
    border-width: .1rem !important;
}

.rp_btn.x_large {
    min-height: 3.2rem;
    min-width: 3.2rem;
    font-size: 1.8rem;
    line-height: 1.1;
}

.rp_btn.large {
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.1;
}

.rp_btn.small {
    min-width: 1.8rem;
    font-size: 0.75rem;
}

.primary,
.rp_btn.primary {
    background-color: #faba15;
    color: #faba15;
    caret-color: #faba15;
    border-color: #faba15;
}

.rp_btn.accent,
.rp_btn.error {
    color: #f44336;
    caret-color: #f44336;
    border-color: #f44336;
}

/* kdksdk */

.rp_dropdown {
    /* Size & position */
    position: relative;
    min-width: 4rem;
    padding: 0.8rem 1rem;
    color: #fff;
    flex: 1;
    /* Styles */
    background: #faba15;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.rp_dropdown:after {
    /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -3px;
}

.rp_dropdown .dropdown {
    /* Size & position */
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.rp_dropdown .dropdown li {
    padding: 0 .8rem;
}

.rp_dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #757575;
    padding: .8rem 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.rp_dropdown .dropdown li:last-of-type a {
    border: none;
}

.rp_dropdown .dropdown li i {
    margin-right: .3rem;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.rp_dropdown .dropdown li:hover a {
    color: #fff;
}

/* Active state */

.rp_dropdown:focus,
.rp_dropdown:active {
    background: #fff;
    color: #757575;
    z-index: 4;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.rp_dropdown:focus:after,
.rp_dropdown:active:after {
    border-color: #faba15 transparent;
}

.rp_dropdown:focus .dropdown,
.rp_dropdown:active .dropdown {
    z-index: 5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 24rem;
}

@media only screen and (max-width: 959px) {
    html,
    body {
        font-size: 11px;
    }
    .rp_content_box {
        padding: 1rem;
        width: initial;
    }
}

@media only screen and (min-width: 960px) {
    html,
    body {
        font-size: 12px;
    }
    .rp_content_box {
        max-width: 900px;
    }
}

@media only screen and (min-width: 1264px) {
    html,
    body {
        font-size: 14px;
    }
    .rp_content_box {
        max-width: 1185px;
    }
}

@media only screen and (min-width: 1400px) {
    html,
    body {
        font-size: 15px;
    }
    .rp_content_box {
        max-width: 1460px;
    }
}

@media only screen and (min-width: 1750px) {
    html,
    body {
        font-size: 16px;
    }
    .rp_content_box {
        max-width: 1460px;
    }
}

@media only screen and (min-width: 1904px) {
    html,
    body {
        font-size: 18px;
    }
    .rp_content_box {
        max-width: 1785px;
    }
}

@media only screen and (min-width: 2180px) {
    html,
    body {
        font-size: 26px !important;
    }
    .rp_content_box {
        max-width: 1785px;
    }
}

@media only screen and (min-width: 2340px) {
    html,
    body {
        font-size: 32px !important;
    }
    .rp_content_box {
        max-width: 1980px;
    }
}

@media only screen and (min-width: 2500px) {
    html,
    body {
        font-size: 34px !important;
    }
    .rp_content_box {
        max-width: 2180px;
    }
}

@-webkit-keyframes overlay {
    0% {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: 1;
        z-index: 1
    }
}

@-moz-keyframes overlay {
    0% {
        -moz-transform: scale(.8);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1.1);
        opacity: 1;
        z-index: 1
    }
}

@keyframes overlay {
    0% {
        transform: scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
        z-index: 1
    }
}

.rp_tabs {
    position: relative;
    height: 2rem;
}

.rp_tabs:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
    position: absolute;
    left: 0;
    bottom: -0.25rem;
}

.rp_tabs .rp_btn {
    border-radius: 12px;
}

.rp_tabs .rp_btn.active {
    background-color: #faba15;
    color: #faba15;
    caret-color: #faba15;
    border-color: #faba15;
    color: #fff;
}